# Map release names to the set of expected platforms. Each entry has the form
#     platform [ : architecture ]
# If :architecture is empty, the filename will use the default arch for the
# platform's packaging style (see below).

# !!! If you add an all-new platform here, be sure to add it to the filebits_for map as well !!!

{%
  set platforms_for = {
    "1.5.0.0": [ "debian", "redhat", "windows"],
    "1.5.1.0": [ "debian", "redhat", "windows"],
    "1.5.2":   [ "debian", "redhat", "windows"],
    "2.1.0":   [ "debian", "redhat", "windows"],
    "2.1.1":   [ "debian", "redhat", "windows"],
    "2.1.2":   [ "debian", "redhat", "windows"],
    "2.1.2.1": [ "debian", "redhat", "windows"],
    "2.1.3":   [ "debian", "redhat", "windows"],
    "2.1.3.1": [ "debian", "redhat", "windows"],
    "2.1.4":   [ "debian", "redhat", "windows"],
    "2.5.0":   [ "debian", "redhat", "windows"],
    "2.5.1":   [ "debian", "redhat", "windows"],
    "2.6.0":   [ "debian", "redhat", "windows"],
    "2.7.4":   [ "debian", "redhat", "windows", "macos"],
    "2.8.0":   [ "debian", "redhat", "windows", "macos"],
    "3.0.0":   [ "debian", "redhat", "windows", "macos", "macos:arm64", "amzn2:aarch64" ]
  }
%}

# Pre-defined sets of filename bits, based on the platform's packaging style
{%
  set rpm_bits = {
    "default_arch": "x86_64",
    "ext": "rpm",
    "sep1": "_",
    "sep2": "_"
  }
%}
{%
  set deb_bits = {
    "default_arch": "x86_64",
    "ext": "deb",
    "sep1": "_",
    "sep2": "_"
  }
%}
{%
  set mac_bits = {
    "default_arch": "x86_64",
    "ext": "zip",
    "sep1": "_",
    "sep2": "_"
  }
%}
{%
  set win_bits = {
    "default_arch": "x86_64",
    "ext": "msi",
    "sep1": "_",
    "sep2": "_"
  }
%}

# Map platforms to defined sets of filename bits
{%
  set filebits_for = {
    "debian": deb_bits,
    "redhat": rpm_bits,
    "macos": mac_bits,
    "amzn2": rpm_bits,
    "windows": win_bits
  }
%}

#######  END TEMPLATE CONFIGURATION ##########

####### ACTUAL OUTPUT TEMPLATE ########

filenames:
{% for platform_entry in platforms_for[release]    %}
{%    set plat_bits = platform_entry.split(':')    %}
{%    set platform = plat_bits[0]                  %}
{%    set bits = filebits_for[platform]            %}
{%    if plat_bits | length > 1                    %}
{%       set arch = plat_bits[1]                   %}
{%    else                                         %}
{%       set arch = bits["default_arch"]           %}
{%    endif                                        %}
{%    for edition in [ "community", "enterprise" ] %}

  - {{ product }}-{{ edition }}{{ bits["sep1"] }}{{ version }}-{{ build_num }}{{ bits["sep2"] }}{{ arch }}.{{ bits["ext"] }}

{%    endfor %}
{% endfor %}
