{#- Editions we expect, based on version #}
{%- if version_tuple[2] < 3 -%}
  {%- set editions = [ "community", "enterprise" ] -%}
{%- else -%}
  {%- set editions = [ "enterprise" ] -%}
{%- endif -%}

{#- Tools packages we expect, based on version #}
{%- if (version_tuple >= (7, 6, 4)) -%}
{%-   set tools_pkgs = [ "admin-tools-", "dev-tools-" ] -%}
{%- elif (version_tuple >= (7, 1, 0)) -%}
{%-   set tools_pkgs = [ "tools_" ] -%}
{%- else -%}
{%-   set tools_pkgs = [ ] -%}
{%- endif -%}

{#- ####### ACTUAL OUTPUT TEMPLATE ######## -#}

filenames:
{%- for edition in editions:                                %}
{#- RPMs #}
  - {{ product }}-{{ edition }}-{{ version }}-{{ build_num }}-linux.x86_64.rpm
  - {{ product }}-{{ edition }}-{{ version }}-{{ build_num }}-linux.aarch64.rpm
  - {{ product }}-{{ edition }}-debuginfo-{{ version }}-{{ build_num }}-linux.x86_64.rpm
  - {{ product }}-{{ edition }}-debuginfo-{{ version }}-{{ build_num }}-linux.aarch64.rpm
{#- DEBs #}
  - {{ product }}-{{ edition }}_{{ version }}-{{ build_num }}-linux_amd64.deb
  - {{ product }}-{{ edition }}_{{ version }}-{{ build_num }}-linux_arm64.deb
  - {{ product }}-{{ edition }}-dbg_{{ version }}-{{ build_num }}-linux_amd64.deb
  - {{ product }}-{{ edition }}-dbg_{{ version }}-{{ build_num }}-linux_arm64.deb
{#- MacOS #}
  - {{ product }}-{{ edition }}_{{ version }}-{{ build_num }}-macos_x86_64.dmg
  - {{ product }}-{{ edition }}_{{ version }}-{{ build_num }}-macos_arm64.dmg
{#- Windows #}
  - {{ product }}-{{ edition }}_{{ version }}-{{ build_num }}-windows_amd64.msi
  - {{ product }}-{{ edition }}_{{ version }}-{{ build_num }}-windows_amd64-PDB.zip
{%- endfor                                                  %}
{#- Tools packages #}
{%- for tools_pkg in tools_pkgs                             %}
  - {{ product }}-{{ tools_pkg }}{{ version }}-{{ build_num }}-linux_x86_64.tar.gz
  - {{ product }}-{{ tools_pkg }}{{ version }}-{{ build_num }}-linux_aarch64.tar.gz
  - {{ product }}-{{ tools_pkg }}{{ version }}-{{ build_num }}-macos_x86_64.zip
  - {{ product }}-{{ tools_pkg }}{{ version }}-{{ build_num }}-macos_arm64.zip
  - {{ product }}-{{ tools_pkg }}{{ version }}-{{ build_num }}-windows_amd64.zip
{%- endfor                                                  %}